{% extends "layout.html" %}
{% block content %}
<div class="welcome-container">
    <h2>Iniciar Sesión</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Iniciar Sesión">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>
{% endblock %}